body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #34495e;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #bcc0bb;
}
h2{
    color:#bcc0bb;
}
p {
    font-size: 2.2em;
    margin-bottom: 20px;
    color:#2354a2
}

#code-input {
    display: flex;
    justify-content: center;
    gap: 10px; /* Spazio tra i quadratini */
}

.digit {
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #ecf0f1;
    color: #2c3e50;
}

input[type="text"]{
    padding:10px;
    font-size: 1.2em;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}
#submit-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}

#submit-button:hover {
    background-color: #c0392b;
}

#feedback {
    font-size: 1.2em;
    margin-top: 20px;
}
